@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<head>
    <link rel="stylesheet" href="~/css/Identity/ConfigPerfil.css" />
</head>

<section class="perfil-usuario">
    <div class="perfil-header">
        <div class="perfil-portada">
            <div class="perfil-avatar">
                <img src="https://i.pinimg.com/originals/bb/d5/8f/bbd58f9b068c652a91d67a1bcca43ab6.png" alt="img-avatar">
                <button type="button" class="boton-avatar">
                    <i class="far fa-image"></i>
                </button>
            </div>
        </div>
    </div>
</section>
<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

    @section Scripts {
        @RenderSection("Scripts", required: false)
    }
