@using Foromanager.Models
@inject UserManager<Usuario> _userManager;
@{
    var usuario = await _userManager.GetUserAsync(User);
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
          @*  var controlador = ViewContext.FormContext;
            controlador*@
}
<head>
    <link rel="stylesheet" href="~/css/Manage/ConfigPerfil.css" />
</head>
    <section class="perfil-usuario">
        <div class="perfil-header">
            <div class="perfil-portada">
            
                <div class="perfil-avatar">

                    @if (usuario.FotodePerfil == null) @*Tomás: la pase mal con edto, no se lo desea a nadie*@
                     {@*NO TOCAR!!!, Esta hecho asi nomas pero funciona y es lo importante*@

                           <img id= "UwU" src="https://cdn.myminifactory.com/assets/object-assets/5a87156690514/images/720X720-i6jnn7b.jpg" alt="img-avatar">
                     }
                     else
                     {
                          <image src="data:image;base64,@Convert.ToBase64String(usuario.FotodePerfil)" class="ImagenParfil"></image>
                     }

                  @*  <input asp-for = "ImgCargaUsuario" id="ImagenUsuario" type="file" class="boton-avatar">
                        <i class="far fa-image"></i>
                    </input> *@
                </div> 
            </div>
        </div>
    </section>

    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>



   