@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<head>
    <link rel="stylesheet" href="~/css/Identity/ConfigPerfil.css" />
</head>
<form>
    <section class="perfil-usuario">
        <div class="perfil-header">
            <div class="perfil-portada">

                <div class="perfil-avatar">
                    <img id="UwU" src="https://cdn.myminifactory.com/assets/object-assets/5a87156690514/images/720X720-i6jnn7b.jpg" alt="img-avatar">
                    <div><i class="fas fa-images boton-avatar "></i></div>
                    @*<input id="ImagenUsuario" type="file" class="boton-avatar">*@
                </div>
            </div>
        </div>
    </section>

    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</form>

@section Scripts {

    @RenderSection("Scripts", required: false)
    <script>
        $('#ImagenUsuario').change(function (e) {

            if (e.originalEvent.srcElement.files.length > 0) {

                var file = e.originalEvent.srcElement.files[0];


                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#UwU').attr('src', e.target.result);
                };
                reader.readAsDataURL(file);
            }

        });

    </script>
}