@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<head>
    <link rel="stylesheet" href="~/css/Identity/ConfigPerfil.css" />
</head>
<form>
    <section class="perfil-usuario">
    <div class="perfil-header">
        <div class="perfil-portada">
            <div class="perfil-avatar">
                <img id= "UwU" src="https://i.pinimg.com/originals/bb/d5/8f/bbd58f9b068c652a91d67a1bcca43ab6.png" alt="img-avatar">
                <input id="ImagenUsuario" type="file" class="boton-avatar">
                    <i class="far fa-image"></i>
                </input>
            </div>
        </div>
    </div>
</section>
<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

</form>

    @section Scripts {
        
        @RenderSection("Scripts", required: false)
        <script> 
            $('#ImagenUsuario').change(function(e) {

     if(  e.originalEvent.srcElement.files.length > 0){

          var file = e.originalEvent.srcElement.files[0];

        
        var reader = new FileReader();
        reader.onload = function(e) {
             $('#UwU').attr('src',e.target.result);
        };
        reader.readAsDataURL(file);


     }       
   
});
        
        </script>
    }
