@page
@model Disable2faModel
@{
    ViewData["Title"] = "DesHabilitación de Autenticacion de dos factores";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>
            Esta acción solo desactiva 2FA.
        </strong>
    </p>
    <p>
        La desactivación de 2FA no cambia las claves utilizadas en las aplicaciones de autenticación. Si desea cambiar la clave
        utilizado en una aplicación de autenticación, debe <a asp-page="./ResetAuthenticator">restablecer sus claves de autenticación.</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger Managebotones" type="submit">Desactivar 2FA</button>
    </form>
</div>
