@page
@model Foromanager.Pages.Foros.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Foro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype = "multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Foro.Nombre" class="control-label"></label>
                <input asp-for="Foro.Nombre" class="form-control" />
                <span asp-validation-for="Foro.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foro.Descripcion" class="control-label"></label>
                <input asp-for="Foro.Descripcion" class="form-control" />
                <span asp-validation-for="Foro.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categorias" class="control-label"></label>
                <input asp-for="Categorias" class="form-control" type="text"/>
            </div>
             <input asp-for="ImgCargaForo" type="file" name="imagen" accept=".jpg, .png, .jpeg" /> 
            <div class="form-group">

                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        @if (ViewData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewData["Message"]");
            };
        </script>
    }
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
