@page
@model Foromanager.Pages.Foros.EditModel

@{
    ViewData["Title"] = "Editar Foro";
}
<head>
    <link rel="stylesheet" href="~/css/Foros/BotonesForos.css" />
    <link rel="stylesheet" href="~/css/Foros/EditarForos.css" />
    <link rel="stylesheet" href="~/css/InputFileStyle.css" />
    <link rel="stylesheet" href="~/css/EditarYEliminarResponsive.css" />
</head>


<h1 class="MarginIzquierda">Editar @Html.DisplayFor(model => model.Nombre)</h1>

<div class="LimHr"><hr color="white" /></div>

<div class="row MarginIzquierda">
    <div class="col-md-4">
        <form enctype = "multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdForo" />
            
            <div class="form-group">
                <label class="control-label">Imagen</label>
                <br />
                <label class="Aviso">Se recomienda que la Imagen del Banner sea de 1200px x 600px (No obligatorio)</label>
                <br />
                <input id="file" class="InputFile" asp-for="ImgCargaForo" type="file" accept=".jpg, .png, .jpeg" />
                <label class="BotonImagen" for="file"> <i class="fas fa-upload"></i> Subir Imagen</label>
            </div>
            
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <br />
                <input asp-for="Nombre" class="form-control EditarInputs InputWidth" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <br />
                <textarea asp-for="Descripcion" rows="5" cols="40" class="EditarInputs InputWidth"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Banner</label>
                <br />
                <label class="Aviso">Se recomienda que la Imagen del Banner sea de 1200px x 400px (No obligatorio)</label>
                <br />
                <input id="file" class="InputFile" asp-for="ImgCargaBanner" type="file" accept=".jpg, .png, .jpeg" />
                <label class="BotonImagen" for="file"> <i class="fas fa-upload"></i> Subir Imagen</label>
            </div>
            

            <div class="form-group">
                <br />
                <br />
                <input type="submit" value="Guardar" class="btn BotonForos" /> 
                <a class="BotonRegresar" asp-page="./Index">Regresar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
