.Espaciado{
    margin-left: 4rem;
}

.Divwidth{
    width: 80%;
    margin-top: 4rem;
}

.LimHr {
    width: 100%;
}
.inputwidth {
    width: 25rem;
}
form label{
    font-size: 20px;
}
.Aviso{
    font-size: 18px;
    color: #f80b0b;
}
