
/*Encabezado del Foro*/
.BannerCont {
    margin-top: 4.3rem;
    height: 21.4rem;
    border-bottom: solid;
    border-width: 0.4mm;
    border-color: #FFFFFF;
}
.TituloForo {
    top: 72%;
    padding: 1rem;
    text-align: center;
    z-index: 10;
    background: linear-gradient(80deg, transparent,  #000000, transparent );
    position: relative;
}
.TituloForo h2{
    font-size: 3rem;
}

.BannerImage {
    width: 99.88%;
    height: 25.3rem;
    margin-top: 4.3rem;

    position: absolute;
    top: 0;
}
.Imagen-Banner {
    width: 100%;
    height: 100%;
}
.br{
    margin-bottom: 15rem;
}


/*Encabezado de las publicaciones*/
.DivNombreUsuario {
    padding-top: 0.5rem;
    width: 60%;    
    margin-top: 5rem;
    margin-bottom: 0%;
    margin-left: 4rem;
    position: relative;


    border-bottom: solid;
    border-width: 0.5mm;
    border-color: #FFFFFF;
    border-radius: 0.75rem 0.75rem 0 0;
    background-color: #B64848;
}
.DivNombreUsuario h3{
    width: 25rem;
}
.DivNombreUsuario p{
    position: absolute;
    right: 0;
    top: 1rem;
}

/*Cuerpo de las Publicaciones*/
.DivPublicaciones {
    padding-top: 0.5rem;
    width: 60%;
    margin-left: 4rem;
    margin-top: 0%;
    text-align: center;
    border-radius: 0 0 0.75rem 0.75rem;
    background-color: #C84A4A;
    padding-bottom: 0.5rem;
}


/*Contenido de las Publicaciones*/
.NombreUsuario {
    margin-left: 2rem;
    margin-bottom: 0%;
    padding-bottom: 0.5rem;
}

.TituloPublicacion {
    background-color: #B64848;
    margin-top: 0%;

    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.ComentarioPublicacion {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;

    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.DivImagen{
    text-align:center;
}
.ImagenPublicacion{
    max-width: 95%;
    max-height: 40rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}


.likeydislike {
    width: 4rem;
    height 4rem;
    margin-top: 2rem;
    background-color: #efb018;
    color: #000000;
    font-weight: bold;
}

    .likeydislike:hover {
        color: #000000;
        background-color: #FFD777;
    }


.BotonesPublicaciones{
    text-align: center;
    margin-top: 1rem;
}
.BorrarPublicacion {
    margin-right: 0.5rem;
    padding: 0.4rem 0.7rem;
    text-align: center;
    font-weight: bold;

    color: #000000;
    background-color: #F2BF72;
    border: solid;
    border-width: 1mm;
    border-color: #C88420;
    border-radius: 5px;
}
    .BorrarPublicacion:hover {
        text-decoration: none;
        background-color: #CB3A2B;
        color: #000000;
    }

.EditarPublicacion {
    margin-right: 0.5rem;
    padding: 0.4rem 0.7rem;
    text-align: center;
    font-weight: bold;

    color: #000000;
    background-color: #F4C989;
    border: solid;
    border-width: 1mm;
    border-color: #D18A21;
    border-radius: 5px;
}
    .EditarPublicacion:hover {
        text-decoration: none;
        color: #000000;
        background-color: #FFD26A;
    }


 /*Zona para crear una nueva publicación*/

.FormCreacion{
    margin-top: 6rem;
}
.Titulo-input {
    width: 40%;
}

.CrearComentario{
    margin-top: 2rem;
}
.Comentario-textarea{
    width: 40%;
}


@media (max-width: 550px) { /*Tamaño 250%*/
    .BannerCont {
        height: 16.1rem;
        width: 100%;
        margin-top: 6.3rem;
    }
    .BannerImage {
        width: 100%;
        margin-top: 6.3rem;
        height: 20rem;
    }
    .TituloForo {
        width: 75%;
        top: 78%;
        padding: 0;
        margin-left: 2rem;
        font-size: 40px;
        background: linear-gradient(80deg, #000000, transparent, #000000 );
    }

    .DivNombreUsuario{
        width: 80%;
        margin-left: 2rem;
    }
    .NombreUsuario {
        font-size: 13px;
    }
    .DivNombreUsuario p {
        top: 0.75rem;
        font-size: 9px;
    }
    .DivPublicaciones {
        width: 80%;
        margin-left: 2rem;
    }

    .Titulo-input {
        width: 80%;
    }

    .Comentario-textarea {
        width: 80%;
    }
}
@media (min-width: 550px) and (max-width: 650px) { /*Tamaño 200%*/
    .NombreUsuario {
        font-size: 16px;
    }
    .DivNombreUsuario p {
        top: 0.75rem;
        font-size: 10px;
    }

    .Titulo-input {
        width: 50%;
    }

    .Comentario-textarea {
        width: 50%;
    }
}

@media (min-width: 650px) and (max-width: 750px) { /*Tamaño 175*/
    .NombreUsuario {
        font-size: 18px;
    }
    .DivNombreUsuario p {
        top: 0.5rem;
        font-size: 12px;
    }

    .Titulo-input {
        width: 50%;
    }

    .Comentario-textarea {
        width: 50%;
    }
}

@media (min-width: 750px) and (max-width: 850px) { /*Tamaño 150%*/
    .NombreUsuario {
        font-size: 20px;
    }
    .DivNombreUsuario p{
        top: 0.5rem;
    }

    .Titulo-input {
        width: 50%;
    }
    .Comentario-textarea {
        width: 50%;
    }
}

@media (min-width: 1350px) { /*Tamaño 90%*/
}