
/*Encabezado del Foro*/
.BannerCont {
    margin-top: 0.4rem;
    height: 350px;
    background: linear-gradient(70deg, transparent, #A50000, transparent);
}

.TituloForo {
    padding: 1rem;
    text-align: center;
    z-index: 10;
    background: linear-gradient(80deg, transparent, #000000, transparent );
    position: relative;
    top: 100%;
}

    .TituloForo h2 {
        font-size: 3rem;
    }

.BannerImage {
    width: 100%;
    height: 350px;
    margin-top: 4.4rem;
    position: absolute;
    top: 0;
}

.Imagen-Banner {
    width: 90%;
    height: 100%;
    margin-left: 5%;
    border-bottom: solid;
    border-width: 0.4mm;
    border-color: #FFFFFF;
}

.br {
    margin-bottom: 15rem;
}


/*Encabezado de las publicaciones*/
.DivNombreUsuario {
    padding-top: 0.5rem;
    width: 60%;
    margin-top: 5rem;
    margin-bottom: 0%;
    margin-left: 4rem;
    position: relative;
    border-bottom: solid;
    border-width: 0.5mm;
    border-color: #FFFFFF;
    border-radius: 0.75rem 0.75rem 0 0;
    background-color: #B64848;
}

    .DivNombreUsuario h3 {
        width: 25rem;
    }

    .DivNombreUsuario p {
        position: absolute;
        right: 0;
        top: 1rem;
    }

/*Cuerpo de las Publicaciones*/
.DivPublicaciones {
    padding-top: 0.5rem;
    width: 60%;
    margin-left: 4rem;
    margin-top: 0%;
    text-align: center;
    border-radius: 0 0 0.75rem 0.75rem;
    background-color: #C84A4A;
    padding-bottom: 0.5rem;
}


/*Contenido de las Publicaciones*/
.NombreUsuario {
    margin-left: 2rem;
    margin-bottom: 0%;
    padding-bottom: 0.5rem;
}

.TituloPublicacion {
    background-color: #B64848;
    margin-top: 0%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.ComentarioPublicacion {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.DivImagen {
    text-align: center;
}

.ImagenPublicacion {
    max-width: 95%;
    max-height: 40rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

/*En este bloque se le da estilo a los botones de las publicaciones*/
.likeydislike {
    width: 4rem;
    height 4rem;
    margin-top: 2rem;
    background-color: #efb018;
    color: #000000;
    font-weight: bold;
}

    .likeydislike:hover {
        color: #000000;
        background-color: #FFD777;
    }


.BotonesPublicaciones {
    text-align: center;
    margin-top: 1rem;
}

.BorrarPublicacion {
    margin-right: 0.5rem;
    padding: 0.4rem 0.7rem;
    text-align: center;
    font-weight: bold;
    color: #000000;
    background-color: #F2BF72;
    border: solid;
    border-width: 1mm;
    border-color: #C88420;
    border-radius: 5px;
}

    .BorrarPublicacion:hover {
        text-decoration: none;
        background-color: #CB3A2B;
        color: #000000;
    }

.EditarPublicacion {
    margin-right: 0.5rem;
    padding: 0.4rem 0.7rem;
    text-align: center;
    font-weight: bold;
    color: #000000;
    background-color: #F4C989;
    border: solid;
    border-width: 1mm;
    border-color: #D18A21;
    border-radius: 5px;
}

    .EditarPublicacion:hover {
        text-decoration: none;
        color: #000000;
        background-color: #FFD26A;
    }


/*Zona para crear una nueva publicación*/

.FormCreacion {
    margin-top: 6rem;
    margin-left: 4rem;
}

.Titulo-input {
    width: 40%;
}

.CrearComentario {
    margin-top: 2rem;
}

.Comentario-textarea {
    width: 40%;
}


@media (max-width: 550px) { /*Tamaño 250%*/


    .BannerCont {
        height: 200px;
        margin-top: 2.6rem;
    }

    .TituloForo {
    }

        .TituloForo h2 {
            font-size: 25px;
        }

    .BannerImage {
        height: 200px;
        margin-top: 6.6rem;
    }

    .Imagen-Banner {
    }

    .TituloForo {
        top: 100%;
        padding: 0;
        margin-left: 2rem;
        font-size: 40px;
        background: linear-gradient(80deg, transparent, #000000, transparent );
    }

    .DivNombreUsuario {
        width: 80%;
        margin-left: 2rem;
    }

    .NombreUsuario {
        font-size: 13px;
    }

    .DivNombreUsuario p {
        top: 0.75rem;
        font-size: 9px;
    }

    .DivPublicaciones {
        width: 80%;
        margin-left: 2rem;
    }

    .Titulo-input {
        width: 80%;
    }

    .Comentario-textarea {
        width: 80%;
    }
}

@media (min-width: 550px) and (max-width: 650px) { /*Tamaño 200%*/

    .BannerCont {
        height: 250px;
        margin-top: 1rem;
    }

    .TituloForo {
    }

        .TituloForo h2 {
            font-size: 25px;
        }

    .BannerImage {
        height: 250px;
        margin-top: 5rem;
    }

    .Imagen-Banner {
    }

    .NombreUsuario {
        font-size: 16px;
    }

    .DivNombreUsuario p {
        top: 0.75rem;
        font-size: 10px;
    }

    .Titulo-input {
        width: 50%;
    }

    .Comentario-textarea {
        width: 50%;
    }
}

@media (min-width: 650px) and (max-width: 750px) { /*Tamaño 175*/

    .BannerCont {
        height: 250px;
        margin-top: 1rem;
    }

    .TituloForo {
    }

        .TituloForo h2 {
            font-size: 25px;
        }

    .BannerImage {
        height: 250px;
        margin-top: 5rem;
    }

    .Imagen-Banner {
    }

    .NombreUsuario {
        font-size: 18px;
    }

    .DivNombreUsuario p {
        top: 0.5rem;
        font-size: 12px;
    }

    .Titulo-input {
        width: 50%;
    }

    .Comentario-textarea {
        width: 50%;
    }
}

@media (min-width: 750px) and (max-width: 850px) { /*Tamaño 150%*/

    .BannerCont {
        height: 200px;
        margin-top: 0.4rem;
    }

    .TituloForo {
    }

        .TituloForo h2 {
            font-size: 30px;
        }

    .BannerImage {
        height: 200px;
        margin-top: 4.4rem;
    }

    .Imagen-Banner {
    }

    .NombreUsuario {
        font-size: 20px;
    }

    .DivNombreUsuario p {
        top: 0.5rem;
    }

    .Titulo-input {
        width: 50%;
    }

    .Comentario-textarea {
        width: 50%;
    }
}

@media (min-width: 950px) and (max-width: 1050px) { /*Tamaño 125%*/

    .BannerCont {
        height: 300px;
        margin-top: 0.4rem;
    }

    .TituloForo {
    }

        .TituloForo h2 {
            font-size: 35px;
        }

    .BannerImage {
        height: 300px;
        margin-top: 4.4rem;
    }

    .Imagen-Banner {
    }

    .TituloPublicacion {
        font-size: 30px;
    }

    .ComentarioPublicacion {
        font-size: 20px;
    }
}

@media (min-width: 1050px) and (max-width: 1150px) { /*Tamaño 110%*/


}

@media (min-width: 1150px) and (max-width: 1250px) { /*Tamaño 100%*/


}

@media (min-width: 1350px) and (max-width: 1450px) { /*Tamaño 90%*/

    .BannerCont {
        height: 400px;
        margin-top: 1.1rem;
    }

    .TituloForo {
    }

        .TituloForo h2 {
            
        }

    .BannerImage {
        height: 400px;
        margin-top: 5.1rem;
    }

    .Imagen-Banner {
    }

    .TituloPublicacion {
        font-size: 30px;
    }

    .ComentarioPublicacion {
        font-size: 20px;
    }
}

@media (min-width: 1450px) and (max-width: 1550px) { /*Tamaño 80%*/

    .BannerCont {
        height: 450px;
        margin-top: 1.3rem;
    }

    .TituloForo {
    }

        .TituloForo h2 {
            
        }

    .BannerImage {
        height: 450px;
        margin-top: 5.3rem;
    }

    .Imagen-Banner {
    }


    .NombreUsuario {
        font-size: 35px;
    }

    .DivNombreUsuario p {
        font-size: 20px;
    }

    .TituloPublicacion {
        font-size: 35px;
    }

    .ComentarioPublicacion {
        font-size: 25px;
    }
}

@media (min-width: 1550px) and (max-width: 1750px) { /*Tamaño 75-70%*/

    .BannerCont {
        height: 500px;
        margin-top: 1.7rem;
    }

    .TituloForo {
    }

        .TituloForo h2 {
            font-size: 55px;
        }

    .BannerImage {
        height: 500px;
        margin-top: 5.7rem;
    }

    .Imagen-Banner {
    }


    .NombreUsuario {
        font-size: 35px;
    }

    .DivNombreUsuario p {
        font-size: 20px;
    }

    .TituloPublicacion {
        font-size: 35px;
    }

    .ComentarioPublicacion {
        font-size: 25px;
    }
}

@media (min-width: 1750px) and (max-width: 1950px) { /*Tamaño 60-69%*/

    .BannerCont {
        height: 550px;
        margin-top: 3.5rem;
    }

    .TituloForo {
    }

        .TituloForo h2 {
            font-size: 55px;
        }

    .BannerImage {
        height: 550px;
        margin-top: 7.5rem;
    }

    .Imagen-Banner {
    }


    .NombreUsuario {
        font-size: 45px;
    }

    .DivNombreUsuario p {
        font-size: 25px;
    }

    .TituloPublicacion {
        font-size: 40px;
    }

    .ComentarioPublicacion {
        font-size: 30px;
    }
}

@media (min-width: 1950px) and (max-width: 2550px) { /*Tamaño 50-59%*/

    .BannerCont {
        height: 700px;
        margin-top: 5.4rem;
        margin-bottom: 8rem;
    }

    .TituloForo {
    }

        .TituloForo h2 {
            font-size: 75px;
        }

    .BannerImage {
        height: 700px;
        margin-top: 9.4rem;
    }

    .Imagen-Banner {
    }


    .NombreUsuario {
        font-size: 60px;
    }

    .DivNombreUsuario p {
        font-size: 32px;
    }

    .TituloPublicacion {
        font-size: 50px;
    }

    .ComentarioPublicacion {
        font-size: 38px;
    }
}

@media (min-width: 2550px) and (max-width: 3750px) { /*Tamaño 30-49%*/

    .BannerCont {
        height: 950px;
        margin-top: 8.9rem;
        margin-bottom: 30rem;
    }

    .TituloForo {
    }

        .TituloForo h2 {
            font-size: 125px;
        }

    .BannerImage {
        height: 950px;
        margin-top: 12.6rem;
    }

    .Imagen-Banner {
    }


    .DivNombreUsuario {
        width: 50%;
        margin-left: 20rem;
    }

    .NombreUsuario {
        font-size: 65px;
    }

    .DivNombreUsuario p {
        font-size: 37px;
    }

    .DivPublicaciones {
        width: 50%;
        margin-left: 20rem;
    }

    .TituloPublicacion {
        font-size: 55px;
    }

    .ComentarioPublicacion {
        font-size: 45px;
    }

    .ImagenPublicacion {
        max-width: 100%;
        max-height: 60rem;
    }
}

@media (min-width: 3750px) and (max-width: 5050px) { /*Tamaño 25-29%*/

    .BannerCont {
        height: 1400px;
        margin-top: 8.6rem;
        margin-bottom: 35rem;
    }

    .TituloForo {
    }

        .TituloForo h2 {
            font-size: 125px;
        }

    .BannerImage {
        height: 1400px;
        margin-top: 12.6rem;
    }

    .Imagen-Banner {
    }


    .DivNombreUsuario {
        width: 45%;
        margin-left: 20rem;
    }

    .NombreUsuario {
        font-size: 75px;
    }

    .DivNombreUsuario p {
        font-size: 47px;
    }

    .DivPublicaciones {
        width: 45%;
        margin-left: 20rem;
    }

    .TituloPublicacion {
        font-size: 65px;
    }

    .ComentarioPublicacion {
        font-size: 55px;
    }

    .ImagenPublicacion {
        max-width: 100%;
        max-height: 80rem;
    }
}
