body {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 0%;
}

.MarginIzquierda a{
    margin-left: 2rem;
}

.MarginIzquierda{
    margin-left: 4rem;
    width: 90%;
}

.LimHr {
    width: 100%;
}

.EditarInputs{
    width: 30rem;
}

.Aviso {
    font-size: 18px;
    color: #f80b0b;
}


@media (max-width: 550px) { /*Tamaño 250%*/
    .MarginIzquierda{
        margin-left: 0;
    }

    .EditarInputs{
        width: 20rem;
    }
}