h1{
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 55px;
}
a:hover {
    color: #e5cccc;
}

/*Estos estilos afectan al form e input donde escribiremos el nombre de algun foro a buscar*/
.FormBuscador{
    margin-left: 3rem;
}
.FormBuscador input{
    width: 13rem;
}


/*Se ajusta el tamaño, colr y posicion al boton que nos permite bucar foros y al boton que nos permite refrescar la página*/
.Lupaboton {
    width: 4rem;
    color: #FFFFFF;
    background-color: #CA3535;
    border: solid;
    border-width: 0.75mm;
    border-color: #D09045;
    border-radius: 0.25rem;
}

.lupa {
    margin-bottom: 0.25rem;
    text-align: center;
}

.reload {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    width: 4rem;
    height: 1.98rem;
    text-align: center;
    color: #FFFFFF;
    background-color: #CA3535;
    border: solid;
    border-width: 0.75mm;
    border-color: #D09045;
    border-radius: 0.25rem;
    display: inline-block;
}

.Lupaboton:hover {
    text-shadow: 2px 4px 28px rgb(0 0 0);
    background: linear-gradient(90deg, #a16407, #FFD500);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.reload:hover {
    text-shadow: 2px 4px 28px rgb(0 0 0);
    background: linear-gradient(90deg, #a16407, #FFD500);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/*Se da un borde a las etiqueatas a que permiten editar y eliminar los foros para separarlas del resto*/
.opciones-especiales{
    border-left: solid;
    border-width: 0.2mm;
    border-color: #FFFFFF;
}

/*Se ajusta el tamaño, color y posición del boton que permite crear un nuevo foro*/
.Cont-add {
    text-align: center;
    font-size: 25px;
    background-color: #CA3535;
    border: solid;
    border-width: 0.75mm;
    border-color: #D09045;
    border-radius: 0.5rem;
    z-index: 1;
}
.Cont-add:hover {
    background: linear-gradient(90deg, #a16407, #FFD500);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.Foroadd{
    padding: 0.15rem 0.5rem;
}
.Foroadd:hover{
    text-shadow: 2px 4px 28px rgb(0 0 0);
}

/*Se ajusta el tamaño, color y psición de la tabla y lo que contiene*/
.table {
    width: 90%;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;

    background-color: #434343;
    border: solid;
    border-width: 0.2mm;
    border-color: #FFFFFF;
}
th{
    text-align: center;
}
td{
    text-align: center;
}
.TdImagenes {
    width: 100%;
    height: 100%;
}
.ImagenForos{
    width: 100%;
    max-width: 100%;
    max-height: 30rem;
}

.TdDatos {
    width: 8rem;
    font-size: 19px;
}

.DatosForosCel{
    display: none;
}


.EditarForo {
    padding-right: 0.5rem;
}
.EditarForo:hover{
    color: #D09045;
}
.EliminarForo:hover{
    color: #CA3535;
}

.mextprevious {
    margin-left: 3rem;
    margin-right: 1rem;
}

.SiguienteAnterior{
    background-color: #E3A001;
    color: #000000;
    font-weight: bold;
}
    .SiguienteAnterior:hover {
        color: #000000;
        background-color: #FFD777;
    }





@media (max-width: 550px) { /*Tamaño 250%*/
    h1 {
        text-align: initial;
        margin-left: 3rem;
    }


    .table {
        margin-left: 1rem;
    }

    .TdDatos {
        width: 5rem;
        font-size: 3vw;
    }

    .DesaparecerDatos{
        display: none;
    }

    .DatosForosCel {
        display: block;
        margin-top: 2rem;
    }

    .ImagenForos {
        width: 10rem;
        max-width: 10rem;
    }
}
@media (min-width: 550px) and (max-width: 650px) { /*Tamaño 200%*/
    h1 {
        text-align: initial;
        margin-left: 3rem;
    }

    .table {
        margin-left: 1rem;
    }

    .TdDatos {
        width: 5rem;
        font-size: 7px;
    }

    .ImagenForos {
        width: 10rem;
        max-width: 10rem;
    }
}

@media (min-width: 650px) and (max-width: 750px) { /*Tamaño 175*/
    h1 {
        text-align: initial;
        margin-left: 3rem;
    }

    .table {
        margin-left: 1rem;
    }

    .TdDatos {
        width: 5rem;
        font-size: 10px;
    }

    .ImagenForos {
        width: 10rem;
        max-width: 10rem;
    }

    .SiguienteAnterior{
        font-size: 7px;
    }
    .mextprevious {
        margin-left: 1rem;
        margin-right: 1rem;
    }

}

@media (min-width: 750px) and (max-width: 850px) { /*Tamaño 150%*/

    h1{
        text-align: initial;
        margin-left: 3rem;
    }
    .table {
        margin-left: 1rem;
    }
    .TdDatos{
        width: 5rem;
        font-size: 12px;
    }
    .ImagenForos {
        width: 10rem;
        max-width: 10rem;
    }

    .EditarForo {
        font-size: 12px;
    }
    .EliminarForo {
        font-size: 12px;
    }
    .mextprevious {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (min-width: 1350px){ /*Tamaño 90%*/
    h1 {
        text-align: initial;
        margin-left: 3rem;
    }

    .table {
        margin-left: 1rem;
    }

    .TdDatos {
        width: 5rem;
        font-size: 20px;
    }

}
