h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 55px;
}

a:hover {
    color: #e5cccc;
}

/*Estos estilos afectan al form e input donde escribiremos el nombre o categoria de algun foro a buscar*/

.DivBuscador{
    height: 100px;
    margin-top: 8rem;
}

.FormBuscador { 
    width: 40%;
    margin-left: 3rem;
}

    .FormBuscador input {
        width: 13rem;
    }

.Categoriassearch{
    position: relative;
    bottom: 7rem;
    left: 53%
}


/*Se ajusta el tamaño, colr y posicion al boton que nos permite bucar foros y al boton que nos permite refrescar la página*/
.Lupaboton {
    width: 4rem;
    color: #FFFFFF;
    background-color: #CA3535;
    border: solid;
    border-width: 0.75mm;
    border-color: #D09045;
    border-radius: 0.25rem;
}

.lupa {
    margin-bottom: 0.25rem;
    text-align: center;
}

.reload {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    width: 4rem;
    height: 1.98rem;
    text-align: center;
    color: #FFFFFF;
    background-color: #CA3535;
    border: solid;
    border-width: 0.75mm;
    border-color: #D09045;
    border-radius: 0.25rem;
    display: inline-block;
}

.Lupaboton:hover {
    text-shadow: 2px 4px 28px rgb(0 0 0);
    background: linear-gradient(90deg, #a16407, #FFD500);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.reload:hover {
    text-shadow: 2px 4px 28px rgb(0 0 0);
    background: linear-gradient(90deg, #a16407, #FFD500);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/*Se da un borde a las etiqueatas a que permiten editar y eliminar los foros para separarlas del resto*/
.opciones-especiales {
    border-left: solid;
    border-width: 0.2mm;
    border-color: #FFFFFF;
}

/*Se ajusta el tamaño, color y posición del boton que permite crear un nuevo foro*/
.Cont-add {
    text-align: center;
    font-size: 25px;
    background-color: #CA3535;
    border: solid;
    border-width: 0.75mm;
    border-color: #D09045;
    border-radius: 0.5rem;
    z-index: 1;
}

    .Cont-add:hover {
        background: linear-gradient(90deg, #a16407, #FFD500);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

.Foroadd {
    padding: 0.15rem 0.5rem;
}

    .Foroadd:hover {
        text-shadow: 2px 4px 28px rgb(0 0 0);
    }

/*Se ajusta el tamaño, color y psición de la tabla y lo que contiene*/
.table {
    width: 90%;
    margin-top: 0.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: #434343;
    border: solid;
    border-width: 0.2mm;
    border-color: #FFFFFF;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

.TdImagenes {
    width: 100%;
    height: 100%;
}

.ImagenForos {
    width: 100%;
    max-width: 100%;
    max-height: 30rem;
}

.TdDatos {
    width: 8rem;
    font-size: 19px;
}

.DatosForosCel {
    display: none;
}

/*Se le da estilos a los links que nos permiten eliminr y editar los foros*/
.EditarForo {
    padding-right: 0.5rem;
}

    .EditarForo:hover {
        color: #D09045;
    }

.EliminarForo:hover {
    color: #CA3535;
}

/*Se le da estilos a los botones que nos permiten pasar de pagina*/
.mextprevious {
    margin-left: 3rem;
    margin-right: 1rem;
}

.SiguienteAnterior {
    background-color: #E3A001;
    color: #000000;
    font-weight: bold;
}

    .SiguienteAnterior:hover {
        color: #000000;
        background-color: #FFD777;
    }





@media (max-width: 550px) { /*Tamaño 250%*/

    .DivBuscador {
        height: 100px;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }

    .FormBuscador {
        width: 95%;
        margin-left: 1rem;
        position: relative;
    }

        .FormBuscador input {
            width: 16.8rem;
            height: 1.5rem;
        }

    .Categoriassearch {
        position: relative;
        bottom: 0;
        left: 0;
    }

    .Lupaboton {
        width: 2.5rem;
        height: 1.5rem;
        margin-left: 1rem;
        position: absolute;
        top: 2rem;
        border-width: 0.5mm;
        border-radius: 0.3rem;
        font-size: 10px;
        display: inline-block;
    }

    .reload {
        width: 2.5rem;
        height: 1.5rem;
        margin-left: 0.5rem;
        position: absolute;
        top: 2rem;
        right: 1.2rem;
        border-width: 0.5mm;
        border-radius: 0.3rem;
        font-size: 10px;
        display: inline-block;
    }

    .table {
        margin-left: 1rem;
    }

    .TdDatos {
        width: 5rem;
        font-size: 3vw;
    }

    .mextprevious {
            margin-left: 1rem;
    }

    .DesaparecerDatos {
        display: none;
    }

    .DatosForosCel {
        display: block;
        margin-top: 2rem;
    }
}

@media (min-width: 550px) and (max-width: 650px) { /*Tamaño 200%*/

    .table{
        margin-top: -2rem;
    }
    .TdDatos {
        width: 5rem;
        font-size: 8px;
    }

    .DivBuscador {
        height: 100px;
        margin-top: 6rem;
    }

    .FormBuscador {
        width: 40%;
        margin-left: 3rem;
        position: relative;
    }

        .FormBuscador input {
            width: 10rem;
            height: 1.5rem;
        }

    .Categoriassearch {
        position: relative;
        bottom: 4.5rem;
        left: 52%;
    }

    .Lupaboton {
        width: 2.5rem;
        height: 1.5rem;
        margin-left: 1rem;
        position: absolute;
        top: 2rem;
        border-width: 0.5mm;
        border-radius: 0.3rem;
        font-size: 10px;
        display: inline-block;
    }

    .reload {
        width: 2.5rem;
        height: 1.5rem;
        margin-left: 0.5rem;
        position: absolute;
        top: 2rem;
        right: 1rem;

        border-width: 0.5mm;
        border-radius: 0.3rem;
        font-size: 10px;
        display: inline-block;
    }
}

@media (min-width: 650px) and (max-width: 750px) { /*Tamaño 175*/

    .table {
        margin-top: -2rem;
    }
    .TdDatos {
        width: 5rem;
        font-size: 10px;
    }

    .DivBuscador {
        height: 100px;
        margin-top: 6rem;
    }

    .FormBuscador {
        width: 40%;
        margin-left: 3rem;
        position: relative;
    }

        .FormBuscador input {
            width: 12rem;
            height: 1.5rem;
        }

    .Categoriassearch {
        position: relative;
        bottom: 4.5rem;
        left: 53%;
    }

    .Lupaboton {
        width: 2.5rem;
        height: 1.5rem;
        margin-left: 1rem;
        position: absolute;
        top: 2rem;

        border-width: 0.5mm;
        border-radius: 0.3rem;
        font-size: 10px;
        display: inline-block;
    }

    .reload {
        width: 2.5rem;
        height: 1.5rem;
        margin-left: 0.5rem;
        position: absolute;
        top: 2rem;
        right: 1.5rem;

        border-width: 0.5mm;
        border-radius: 0.3rem;
        font-size: 10px;
        display: inline-block;
    }
}

@media (min-width: 750px) and (max-width: 850px) { /*Tamaño 150%*/

    .table {
        margin-top: -1.5rem;
    }
    .TdDatos {
        width: 5rem;
        font-size: 10px;
    }

    .DivBuscador {
        height: 100px;
        margin-top: 6rem;
    }

    .FormBuscador {
        width: 40%;
        margin-left: 3rem;
        position: relative;
    }
        .FormBuscador input{
            width: 12rem;
            height: 1.5rem;
        }

    .Categoriassearch {
        position: relative;
        bottom: 4.5rem;
        left: 53%;
    }

    .Lupaboton {
        width: 2.8rem;
        height: 1.5rem;
        margin-left: 1rem;
        position: absolute;
        top: 2rem;

        border-width: 0.7mm;
        border-radius: 0.3rem;
        font-size: 12px;
        display: inline-block;
    }

    .reload {
        width: 2.8rem;
        height: 1.5rem;
        margin-left: 0.5rem;
        position: absolute;
        top: 2rem;
        right: 1.5rem;

        border-width: 0.7mm;
        border-radius: 0.3rem;
        font-size: 12px;
        display: inline-block;
    }

}

@media (min-width: 950px) and (max-width: 1050px) { /*Tamaño 125%*/


    .TdDatos {
        width: 5rem;
        font-size: 12px;
    }

    .DivBuscador {
        height: 100px;
        margin-top: 6rem;
    }

    .FormBuscador {
        width: 40%;
        margin-left: 3rem;
        position: relative;
    }

    .Categoriassearch {
        position: relative;
        bottom: 5rem;
        left: 55%;
    }
}

@media (min-width: 1050px) and (max-width: 1150px) {/*Tamaño 110%*/

    .table {
        margin-top: 0.5rem;
    }
    .TdDatos {
        width: 5rem;
        font-size: 15px;
    }

    .DivBuscador {
        height: 100px;
        margin-top: 6rem;
    }

    .FormBuscador {
        width: 35%;
        margin-left: 3rem;
        position: relative;
    }

    .Categoriassearch {
        position: relative;
        bottom: 5rem;
        left: 59%;
    }
}

@media (min-width: 1150px) and (max-width: 1250px) { /*Tamaño 100%*/

    .DivBuscador {
        height: 100px;
        margin-top: 6rem;
    }

    .FormBuscador {
        width: 30%;
        margin-left: 4.5rem;
        position: relative;
    }

    .Categoriassearch {
        position: relative;
        bottom: 5rem;
        left: 60%;
    }

    .reload {
        margin-top: 0.2rem;
    }
}

@media (min-width: 1350px) and (max-width: 1450px) { /*Tamaño 90%*/

    .DivBuscador {
        height: 100px;
        margin-top: 6rem;
    }

    .FormBuscador {
        width: 40%;
        margin-left: 4.5rem;
        position: relative;
    }

        .FormBuscador h5 {
            font-size: 25px;
            margin-bottom: 1rem;
        }

        .FormBuscador input {
            width: 20rem;
            height: 2rem;
            margin-top: 1rem;
            font-size: 20px;
        }

    .Categoriassearch {
        position: relative;
        bottom: 7rem;
        left: 52%;
    }


    .table {
        margin-left: 4rem;
    }

    .Lupaboton {
        width: 4rem;
        height: 2rem;
        margin-left: 2rem;
        border-width: 1mm;
        border-radius: 0.3rem;
        font-size: 15px;
        display: inline-block;
    }

    .reload {
        width: 4rem;
        height: 2rem;
        margin-left: 1rem;
        border-width: 1mm;
        border-radius: 0.3rem;
        font-size: 15px;
        display: inline-block;
    }

    .Cont-add {
        text-align: center;
        font-size: 30px;
        border-width: 1mm;
        border-radius: 0.5rem;
    }

    .Foroadd {
        padding: 1rem 0.75rem;
    }

    .mextprevious {
        margin-left: 4rem;
    }

    .TdDatos {
        width: 5rem;
        font-size: 20px;
    }
}

@media (min-width: 1450px) and (max-width: 1550px) { /*Tamaño 80%*/


    .DivBuscador {
        height: 100px;
        margin-top: 8rem;
        margin-bottom: 2rem;
    }

    .FormBuscador {
        width: 45%;
        margin-left: 4.5rem;
        position: relative;
    }

        .FormBuscador h5 {
            font-size: 25px;
            margin-bottom: 1rem;
        }

        .FormBuscador input {
            width: 25rem;
            height: 3rem;
            margin-top: 1rem;
            font-size: 20px;
        }

    .Categoriassearch {
        position: relative;
        bottom: 8rem;
        left: 49%;
    }

    .table {
        margin-left: 4rem;
    }

    .Lupaboton {
        width: 5rem;
        height: 3rem;
        margin-left: 2rem;
        border-width: 1mm;
        border-radius: 0.3rem;
        font-size: 20px;
        display: inline-block;
    }

    .reload {
        width: 5rem;
        height: 3rem;
        padding-top: 0.3rem;
        margin-left: 1rem;
        border-width: 1mm;
        border-radius: 0.3rem;
        font-size: 20px;
        display: inline-block;
    }

    .Cont-add {
        text-align: center;
        font-size: 35px;
        border-width: 1.5mm;
        border-radius: 0.5rem;
    }

    .Foroadd {
        padding: 1rem 0.75rem;
    }


    .mextprevious {
        margin-left: 4rem;
    }

    .TdDatos {
        width: 5rem;
        font-size: 20px;
    }
}

@media (min-width: 1550px) and (max-width: 1750px) { /*Tamaño 75-70%*/

    h1 {
        font-size: 85px;
    }

    .DivBuscador {
        height: 100px;
        margin-top: 14rem;
        margin-bottom: 4rem;
    }

    .FormBuscador {
        width: 40%;
        margin-left: 4.5rem;
        position: relative;
    }

        .FormBuscador h5 {
            font-size: 45px;
            margin-bottom: 1rem;
        }

        .FormBuscador input {
            width: 25rem;
            height: 3rem;
            margin-top: 1rem;
            font-size: 20px;
        }

    .Categoriassearch {
        position: relative;
        bottom: 9.5rem;
        left: 52%;
    }


    .table {
        margin-left: 4.5rem;
    }

    .Lupaboton {
        width: 5rem;
        height: 3rem;
        margin-left: 2rem;
        border-width: 1.4mm;
        border-radius: 0.5rem;
        font-size: 25px;
        display: inline-block;
    }

    .reload {
        width: 5rem;
        height: 3rem;
        margin-left: 1rem;
        border-width: 1.4mm;
        border-radius: 0.5rem;
        font-size: 25px;
        display: inline-block;
    }

    .Cont-add {
        text-align: center;
        font-size: 35px;
        border-width: 1.5mm;
        border-radius: 0.5rem;
    }

    .Foroadd {
        padding: 1rem 0.75rem;
    }


    .mextprevious {
        margin-left: 4.5rem;
    }

    .TdDatos {
        width: 5rem;
        font-size: 20px;
    }
}

@media (min-width: 1750px) and (max-width: 1950px) { /*Tamaño 60-69%*/

    h1 {
        font-size: 90px;
    }

    .DivBuscador {
        height: 100px;
        margin-top: 14rem;
        margin-bottom: 6rem;
    }

    .FormBuscador {
        width: 40%;
        margin-left: 5.5rem;
        position: relative;
    }

        .FormBuscador h5 {
            font-size: 45px;
            margin-bottom: 1rem;
        }

        .FormBuscador input {
            width: 30rem;
            height: 4rem;
            margin-top: 1rem;
            font-size: 25px;
        }

    .Categoriassearch {
        position: relative;
        bottom: 10.5rem;
        left: 50%;
    }


    .table {
        margin-left: 5.5rem;
    }

    .Lupaboton {
        width: 6rem;
        height: 4rem;
        margin-left: 2rem;
        border-width: 1.5mm;
        border-radius: 0.75rem;
        font-size: 30px;
        display: inline-block;
    }

    .reload {
        width: 6rem;
        height: 4rem;
        padding-top: 0.2rem;
        margin-left: 1rem;
        border-width: 1.5mm;
        border-radius: 0.75rem;
        font-size: 30px;
        display: inline-block;
    }

    .Cont-add {
        text-align: center;
        font-size: 50px;
        border-width: 1.75mm;
        border-radius: 0.75rem;
    }

    .Foroadd {
        padding: 1rem 1rem;
    }


    .mextprevious {
        margin-left: 5.5rem;
    }

    .TdDatos {
        width: 5rem;
        font-size: 25px;
    }
}

@media (min-width: 1950px) and (max-width: 2550px) { /*Tamaño 50-59%*/

    h1 {
        font-size: 120px;
    }

    .DivBuscador {
        height: 100px;
        margin-top: 18rem;
        margin-bottom: 8rem;
    }

    .FormBuscador {
        width: 30%;
        margin-left: 6rem;
        position: relative;
    }

        .FormBuscador h5 {
            font-size: 55px;
            margin-bottom: 1rem;
        }

        .FormBuscador input {
            width: 35rem;
            height: 6rem;
            margin-top: 1rem;
            font-size: 35px;
        }

    .Categoriassearch {
        position: relative;
        bottom: 13rem;
        left: 55%;
    }


    .table {
        margin-left: 6rem;
        margin-top: 4rem;
    }

    .Lupaboton {
        width: 8rem;
        height: 6rem;
        margin-left: 2rem;
        position: absolute;
        top: 6rem;
        border-width: 2mm;
        border-radius: 1rem;
        font-size: 40px;
        display: inline-block;
    }

    .reload {
        width: 8rem;
        height: 6rem;
        padding-top: 0.5rem;
        margin-left: 1rem;
        position: absolute;
        top: 6rem;
        left: 45rem;
        border-width: 2mm;
        border-radius: 1rem;
        font-size: 40px;
        display: inline-block;
    }

    .Cont-add {
        text-align: center;
        font-size: 60px;
        border-width: 3mm;
        border-radius: 1rem;
    }

    .Foroadd {
        padding: 2rem 1rem;
    }

    .mextprevious {
        margin-left: 6rem;
    }

    .TdDatos {
        width: 5rem;
        font-size: 35px;
    }

    .ImagenForos {
        max-height: 60rem;
    }

    .SiguienteAnterior {
        font-size: 35px;
        margin-right: 3rem;
    }
}

@media (min-width: 2550px) and (max-width: 3750px) { /*Tamaño 30-49%*/

    h1 {
        font-size: 200px;
    }

    .DivBuscador {
        height: 100px;
        margin-top: 18rem;
        margin-bottom: 18rem;
    }

    .FormBuscador {
        width: 30%;
        margin-left: 7.5rem;
        position: relative;
    }

        .FormBuscador h5 {
            font-size: 75px;
            margin-bottom: 1rem;
        }

        .FormBuscador input {
            width: 50rem;
            height: 8rem;
            margin-top: 1rem;
            font-size: 55px;
        }

    .Categoriassearch {
        position: relative;
        bottom: 16.8rem;
        left: 57%;
    }

    .table {
        margin-left: 7.5rem;
    }

    .Lupaboton {
        width: 10rem;
        height: 8rem;
        margin-left: 2rem;
        position: absolute;
        top: 7.5rem;
        border-width: 3mm;
        border-radius: 1rem;
        font-size: 50px;
        display: inline-block;
    }

    .reload {
        width: 10rem;
        height: 8rem;
        padding-top: 1rem;
        margin-left: 1rem;
        position: absolute;
        top: 7.5rem;
        left: 65rem;
        border-width: 3mm;
        border-radius: 1rem;
        font-size: 50px;
        display: inline-block;
    }

    .Cont-add {
        text-align: center;
        font-size: 75px;
        border-width: 3mm;
        border-radius: 1rem;
    }

    .Foroadd {
        padding: 2rem 2rem;
    }

    .mextprevious {
        margin-left: 7.5rem;
    }

    .TdDatos {
        width: 5rem;
        font-size: 60px;
    }

    .ImagenForos {
        max-height: 60rem;
    }

    .SiguienteAnterior {
        font-size: 50px;
        margin-right: 4rem;
    }
}

@media (min-width: 3750px) and (max-width: 5050px) { /*Tamaño 25-29%*/

    h1 {
        font-size: 200px;
    }

    .DivBuscador {
        height: 100px;
        margin-top: 18rem;
        margin-bottom: 18rem;
    }

    .FormBuscador {
        width: 30%;
        margin-left: 9.5rem;
        position: relative;
    }

        .FormBuscador h5 {
            font-size: 75px;
            margin-bottom: 1rem;
        }

        .FormBuscador input {
            width: 50rem;
            height: 8rem;
            margin-top: 1rem;
            font-size: 55px;
        }

    .Categoriassearch {
        position: relative;
        bottom: 16.8rem;
        left: 65%;
    }

    .table {
        margin-left: 9.5rem;
    }

    .Lupaboton {
        width: 10rem;
        height: 8rem;
        margin-left: 2rem;
        position: absolute;
        top: 7.5rem;
        border-width: 3mm;
        border-radius: 1rem;
        font-size: 50px;
        display: inline-block;
    }

    .reload {
        width: 10rem;
        height: 8rem;
        padding-top: 1rem;
        margin-left: 1rem;
        position: absolute;
        top: 7.5rem;
        left: 65rem;
        border-width: 3mm;
        border-radius: 1rem;
        font-size: 50px;
        display: inline-block;
    }

    .Cont-add {
        text-align: center;
        font-size: 95px;
        border-width: 3.5mm;
        border-radius: 1rem;
    }

    .Foroadd {
        padding: 2rem 2rem;
    }


    .TdDatos {
        width: 5rem;
        font-size: 75px;
    }

    .ImagenForos {
        max-height: 90rem;
    }

    .mextprevious {
        margin-left: 9.5rem;
    }

    .SiguienteAnterior {
        font-size: 65px;
        margin-right: 5rem;
    }
}
