h1{
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 55px;
}
a:hover {
    color: #e5cccc;
}


.FormBuscador{
    margin-left: 3rem;
}
.FormBuscador input{
    width: 13rem;
}

.Lupaboton {
    width: 4rem;
    color: #FFFFFF;
    background-color: #CA3535;
    border: solid;
    border-width: 0.75mm;
    border-color: #D09045;
    border-radius: 0.25rem;
}

.lupa {
    margin-bottom: 0.25rem;
    text-align: center;
}

.reload {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    width: 4rem;
    height: 1.98rem;
    text-align: center;
    color: #FFFFFF;
    background-color: #CA3535;
    border: solid;
    border-width: 0.75mm;
    border-color: #D09045;
    border-radius: 0.25rem;
    display: inline-block;
}

.Lupaboton:hover {
    text-shadow: 2px 4px 28px rgb(0 0 0);
    background: linear-gradient(90deg, #a16407, #FFD500);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.reload:hover {
    text-shadow: 2px 4px 28px rgb(0 0 0);
    background: linear-gradient(90deg, #a16407, #FFD500);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.opciones-especiales{
    border-left: solid;
    border-width: 0.2mm;
    border-color: #FFFFFF;
}
.Cont-add {
    text-align: center;
    font-size: 25px;
    background-color: #CA3535;
    border: solid;
    border-width: 0.75mm;
    border-color: #D09045;
    border-radius: 0.5rem;
    z-index: 1;
}
.Cont-add:hover {
    background: linear-gradient(90deg, #a16407, #FFD500);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.Foroadd{
    padding: 0.15rem 0.5rem;
}
.Foroadd:hover{
    text-shadow: 2px 4px 28px rgb(0 0 0);
}

.table{
    width: 90%;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;

    border: solid;
    border-width: 0.2mm;
    border-color: #FFFFFF;
}
th{
    text-align: center;
}
td{
    text-align: center;
}

.TdImagenes {
    width: 25rem;
    height: 15rem;
}
.ImagenForos{
    width: 100%;
    max-width: 100%;
    max-height: 30rem;
}


.EditarForo{
    padding-right: 0.5rem;
    border-right: solid;
    border-width: 0.7mm;
    border-color: #FFFFFF;
}
.EditarForo:hover{
    color: #D09045;
}
.EliminarForo:hover{
    color: #CA3535;
}

.mextprevious {
    margin-left: 3rem;
    margin-right: 1rem;
}

.SiguienteAnterior{
    background-color: #E3A001;
    color: #000000;
    font-weight: bold;
}
    .SiguienteAnterior:hover {
        color: #000000;
        background-color: #FFD777;
    }