@page "/Confirmación_de_contraseña_olvidada"
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de contraseña olvidada";
}
<head>
    <link rel="stylesheet" href="~/css/Account/Login.css" />
</head>

<h1 class="logindiv">@ViewData["Title"]</h1>
<p class="logindiv">
    Por favor revise su correo electrónico para restablecer su contraseña.
</p>

