@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación de registro";
}

<h1 style="margin-left: 3rem;">@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <h4 style="margin-top: 3rem; margin-left: 3rem;">
            Normalmente esto se enviaría por correo electrónico: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Haga clic aquí para confirmar su cuenta</a>
        </h4>
    }
    else
    {
         <p> 
             Por favor revise su correo electrónico para confirmar su cuenta.
         </p>
    }
}
