<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GithNik</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Layout.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

    <link rel="apple-touch-icon" sizes="57x57" href="~/Favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Favicon/favicon-16x16.png">
    <link rel="manifest" href="~/Favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Faviconº/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <header class="Header-Shadow">
        <div>
            <nav class="Titulonav navcolor"><a class="Logo-titulo" asp-area="" asp-page="/Index"><img src="~/favicon.ico" />GithNik</a></nav>
            <nav class="navheight navcolor navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
                <div class="div-color container ">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item Opcion1">
                            <a class="opciones-pags" asp-area="" asp-page="/Index">Inicio</a>
                        </li>
                        <li class="nav-item Opcion2">
                            <a class="opciones-pags" asp-area="" asp-page="/Privacy">Privacidad</a>
                        </li>
                        <li class="nav-item Opcion3">
                            <a class="opciones-pags" asp-area="" asp-page="/Foros/Index">Foros</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </nav>
        </div>

    </header>
    <main role="main" class="pb-3 main">
        @RenderBody()
    </main>

    <div class="footer">
        <footer class="text-muted">
            <div id="Codito-boton" class="Codito"><i class="fas fa-chevron-left"></i></div>
            <div id="Barra" class="div-redes">
                <ul class="redes">
                    <li><a href="https://instagram.com/githnik?utm_medium=copy_link"><img src="~/pictures/Logoinsta.png" alt="Instagram"></a></li>
                    <li><a href="https://twitter.com/githnik"><img src="~/pictures/Logotwitter.png" alt="Twitter"></a></li>
                </ul>
            </div>
            @*<div class="container footer">
                      &copy; 2021 - GithNik, Hecho por: Barrionuevo, Bolaño y Cavallo<a asp-area="" asp-page="/Privacy">Wiki</a>
                </div>*@
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Layout.js"></script>
    <script src="~/js/MenuCelular.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
