@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

<head>
    <link rel="stylesheet" href="~/css/LoginPartial.css" />

</head>


<ul class="navbar-nav BotonesCuenta">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link perfilboton" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
            <button  type="submit" class="btn cerrar">Cerrar sesión</button>
        </form>
    </li>
}
else
{
    <li class="nav-item Textlogin">
        <a class="btn btn-sm rwidth" asp-area="Identity" asp-page="/Account/Register">Registrarse</a>
    </li>
    <li class="nav-item Textlogin">
        <a class="btn btn-sm" asp-area="Identity" asp-page="/Account/Login">Acceder</a>
    </li>
}
</ul>
