.SectionForosInicio{
    width: 65%;
}

.DivInicio {
    width: 100%;
    text-align: center;
}

.LimitadorImagenes {
    width: 100%;
    height: 30rem;
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.LimitadorImagenes:hover .ForosDatos{
    display: block;
}
.HomeForosImagenes {
    width: 100%;
    height: 100%;

    cursor: pointer;
}
.LimitadorImagenes:hover .ForosDatos {
    background: linear-gradient(20deg, #000000, transparent, #000000);
}


.ForosDatos {
    width: 100%;
    height: 30rem;
    position: absolute;
    top: 0%;
    z-index: 10;
    background: linear-gradient(transparent);
}
.ANombre {
    
    font-size: 40px;
    font-weight: bold;
    margin-left: -5rem;
    font-family: Constantia;

    position: absolute;
    bottom: 0rem;
    right: 0;
    left: 5rem;

    background: linear-gradient(transparent);
    color: transparent;
    transition-property: all;
    transition-duration: 1.5s;
}
.ForosDatos:hover .ANombre {
    transform: translate(20px);
    padding: 2rem;
    right: 1.3rem;
    left: 3.8rem;
    bottom: 0;
    background: linear-gradient(45deg, #dc2e2e, transparent, #000000, transparent, #dc2e2e);
    color: #e5cccc;
}
.PFecha {
    font-size: 25px;
    font-weight: bold;

    position: absolute;
    bottom: 0;
    right: 0;
}

@media (max-width: 550px) { /*Tamaño 250%*/

    .PaginaInicio {
        width: 60%;
    }

    .LimitadorImagenes {
        width: 21rem;
        height: 17rem;
    }

    .ForosDatos {
        width: 21rem;
        height: 17rem;
        position: absolute;
        top: 0%;
    }
    .ANombre {
        font-size: 20px;
    }

    .ForosDatos:hover .ANombre {
        transform: translate(20px);
        padding: 2rem;
        right: 1.3rem;
        left: 3.6rem;
        bottom: 0;
        background: linear-gradient(45deg, #dc2e2e, transparent, #000000, transparent, #dc2e2e);
        color: #e5cccc;
    }

    .PFecha {
        font-size: 15px;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}