@font-face {
    font-family: perpetua;
    src: url("~/css/Perpetua.ttf");
}

body {
    background-color: #2B2B2B;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 60px;
    border-radius: 3px;
}

/*Estilo del Nav-Bar*/
.navheight {
    height: 60px;
    width: 85%;
    float: right;
}

.navcolor {
    background-color: #FF2424;
    border-bottom: solid;
    border-width: 1mm;
    border-color: #D09045;
}
/*div contenedor de los elementos del Nav-Bar*/
.div-color {
    background-color: rgba(0, 0, 0, 0);
}
/*Estilo del elemento main*/
.main {
    padding-top: 2.5rem;
}

/*Estilo del elemento nav que contiene titulo de la pagina*/
.Titulonav {
    position: fixed;
    width: 15%;
    height: 60px;
    padding-left: 10px;
    background-color: #DE2121;
    border-right: solid;
    border-color: #D09045;
    border-right-width: 0.75mm;
    border-radius: 3px;
}
/*Estilo del Titulo puesto en el Nav-bar*/
.Logo-titulo {
    margin-right: 2rem;
    font-size: 40px;
    font-family: perpetua;
    font-weight: bold;
    font-style: italic;
    color: #000;
    text-shadow: -2px 3px 3px rgb(129, 10, 34);
}

    .Logo-titulo:hover {
        text-decoration: none;
        text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.473);
        background: linear-gradient(90deg, #FF9800, #FFD500);
        /*-webkit-text-stroke: 1px #000;*/

        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

/*Estilo de los elementos dentro del div container*/
.container ul {
    text-align: center;
}

.opciones-pags {
    padding: 18px 18px;
    margin-left: 10px;
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
    border-radius: 5px;
    color: #000000;
    text-shadow: -2px 3px 3px rgb(150, 1, 43);
}

    .opciones-pags:hover {
        text-decoration: none;
        text-shadow: -2px 3px 3px rgb(150, 1, 43);
        background-color: #DE2121;
        color: #D0AC45;
    }


/*Estilo del footer
.footer
{
    margin-left: 16rem;
    width: 35rem;
    border-radius: 3px;
    text-align: center;
    border-width: 0.3mm;
    border-style: solid;
    border-color: #000;
}*/
/*Estilo de a zona de redes*/
.footer {
    width: 14rem;
    height: 10rem;
    margin-left: 80.5%;
}

.Codito {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    font-size: 35px;
    background-color: #FF2424;
    color: #000000;
    text-shadow: 2px 3px 3px rgb(150, 1, 43);
    border: 3px solid;
    border-color: #D09045;
    position: fixed;
    margin-left: 14%;
    margin-top: 3rem;
}

    .Codito i {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

.div-redes {
    width: 15rem;
    background-color: #FF4F4B;
    margin-top: 3rem;
    display: none;
}

    .div-redes ul {
        display: inline-block;
        list-style: none;
        height: 1.5rem;
    }

.redes > li {
    float: left;
    margin-left: 2rem;
}

.redes li img {
    width: 35px;
    height: 35px;
}

.Codito:hover {
    background-color: #DE2121;
}

    .Codito:hover i {
        text-shadow: 2px 4px 6px rgb(150, 1, 43);
        background: linear-gradient(90deg, #a16407, #FFD500);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }


/*Cambios de estilos con js*/
.Aparecer {
    display: inline-block;
    border-radius: 18px;
}

.Codito-change {
    transform: rotate(180deg);
    text-shadow: 2px 3px 3px rgb(150, 1, 43);
    margin-left: -5%;
}

    .Codito-change i {
        margin-top: 20%;
        margin-bottom: 30%;
        margin-left: 22%;
        margin-right: 28%;
    }

    .Codito-change:hover {
        text-shadow: 2px 4px 6px rgb(150, 1, 43);
    }
