@font-face {
    font-family: perpetua;
    src: url("~/css/Perpetua.ttf");
}

body {
    background-color: #2B2B2B;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 70px;
    border-radius: 3px;
    z-index: 20;
}

/*Estilo del Nav-Bar*/
.navheight {
    height: 70px;
    width: 85%;
    float: right;
}

.navcolor {
    background-color: #FF2424;
    border-bottom: solid;
    border-width: 1mm;
    border-color: #D09045;
}
/*div contenedor de los elementos del Nav-Bar*/
.div-color {
    background-color: rgba(0, 0, 0, 0);
}
/*Estilo del elemento main*/
.main {
    padding-top: 2.5rem;
}

/*Estilo del elemento nav que contiene titulo de la pagina*/
.Titulonav {
    position: fixed;
    width: 15%;
    height: 70px;
    padding-left: 10px;
    background-color: #DE2121;
    border-right: solid;
    border-color: #D09045;
    border-right-width: 0.75mm;
    border-radius: 3px;
}
.Titulonav img{
    width: 3.5rem;
    height: 3.5rem;
    margin-bottom: 0.5rem;
    display: none;
}

/*Estilo del Titulo puesto en el Nav-bar*/
.Logo-titulo {
    margin-right: 2rem;
    font-size: 40px;
    font-family: perpetua;
    font-weight: bold;
    font-style: italic;
    color: #000;
    text-shadow: -2px 3px 3px rgb(129, 10, 34);
}

    .Logo-titulo:hover {
        text-decoration: none;
        text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.473);
        background: linear-gradient(90deg, #FF9800, #FFD500);
        /*-webkit-text-stroke: 1px #000;*/

        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

/*Estilo de los elementos dentro del div container*/
.container ul {
    text-align: center;
}

.opciones-pags {
    padding: 18px 18px;
    margin-left: 10px;
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
    border-radius: 5px;
    color: #EEEBDB;
    text-shadow: -2px 3px 3px rgb(150, 1, 43);
}

    .opciones-pags:hover {
        text-decoration: none;
        text-shadow: -2px 3px 3px rgb(150, 1, 43);
        background-color: #DE2121;
        color: #D0AC45;
    }


/*Estilo del footer
.footer
{
    margin-left: 16rem;
    width: 35rem;
    border-radius: 3px;
    text-align: center;
    border-width: 0.3mm;
    border-style: solid;
    border-color: #000;
}*/
/*Estilo de a zona de redes*/
.footer {
    width: 14rem;
    height: 10rem;
    margin-left: 80.5%;
    display: none;
}

.Codito {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    font-size: 35px;
    background-color: #FF2424;
    color: #000000;
    text-shadow: 2px 3px 3px rgb(150, 1, 43);
    border: 3px solid;
    border-color: #D09045;
    position: fixed;
    margin-left: 15%;
    margin-top: 3rem;
}

    .Codito i {
        position: fixed;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        margin-left: 0.7rem;
        margin-right: 1rem;
    }

.div-redes {
    width: 15rem;
    height: 3rem;
    background-color: #FF4F4B;
    margin-top: 3rem;
    display: none;
}

    .div-redes ul {
        display: inline-block;
        list-style: none;
        height: 1.5rem;
    }

.redes > li {
    float: left;
    margin-left: 2rem;
}

.redes li img {
    margin-bottom: 1rem;
    width: 35px;
    height: 35px;
}

.Codito:hover {
    text-shadow: 1px 1px 15px rgb(255, 213, 43);
    background: linear-gradient(90deg, #CA3535, #E92828);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

    .Codito:hover i {
        text-shadow: 1px 1px 15px rgb(255, 213, 43);
        background: linear-gradient(90deg, #a16407, #FFD500);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }


/*Cambios de estilos con js*/
.Aparecer {
    display: inline-block;
    border-radius: 18px;
    position: fixed;
}

.Codito-change {
    transform: rotate(180deg);
    text-shadow: 2px 3px 3px rgb(150, 1, 43);
    margin-left: -4.5%;
}

    .Codito-change i {
        position: fixed;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        margin-left: 0.7rem;
        margin-right: 1rem;
    }


    .Codito-change:hover {
        text-shadow: 2px 4px 6px rgb(150, 1, 43);
    }


/*Responsive*/


@media (max-width: 550px) { /*Tamaño 250%*/

    .Titulonav {
        width: 100%;
        height: 48px;

        border-bottom: solid;
        border-left: solid;
        border-width: 0.65mm;
        border-radius: 3px 3px 0 0;
        border-color: #D09045;
    }
    .Titulonav img {
        display: inline;
    }


    .navheight {
        width: 100%;
        height: 40px;
        margin-top: 3.4rem;
        text-align: center;

        border-right: solid;
        border-left: solid;
        border-width: 0.65mm;
        border-radius: 0 0 3px 3px;
        border-color: #D09045;
    }

    .MenuCelular {
        margin-bottom: 0.4rem;
        background-color: #921D11;
    }

    .Logo-titulo {
        position: absolute;
        left: calc(50% - 90px);
        font-size: 35px;
    }

    .container {
        margin-top: -0.5rem;
        width: 100%;
        height: 125%;
    }

    .container ul {
        display: inline;
    }

    .opciones-pags {
        padding: 4px 4px;
        font-size: 10px;
        background-color: #c1853f;
        text-shadow: -2px 2px 2px #976123;
    }

        .opciones-pags:hover {
            background-color: #b67f3e;
            text-shadow: -2px 2px 2px #976123;
        }

    .Opcion1{
        width: 3rem;
        float:left;
    }
    .Opcion2 {
        width: 5rem;
        float: left;
    }
    .Opcion3 {
        width: 3rem;
        float: left;
    }
}

@media (min-width: 550px) and (max-width: 650px) { /*Tamaño 200*/
    .Titulonav {
        width: 25%;
        height: 45px;
    }

    .Logo-titulo {
        font-size: 35px;
    }

    .navheight {
        width: 75%;
        height: 45px;
    }

    .container {
        margin-left: -24px;
    }

    .opciones-pags {
        padding: 20px 16px;
        font-size: 10px;
    }
}

@media (min-width: 650px) and (max-width: 750px) { /*Tamaño 175*/
    .Titulonav {
        width: 25%;
        height: 45px;
    }
    .Logo-titulo {
        font-size: 35px;
    }

    .navheight {
        width: 75%;
        height: 45px;
    }

    .container {
        margin-left: -24px;
    }

    .opciones-pags {
        padding: 20px 16px;
        font-size: 10px;
    } 
}

@media (min-width: 750px) and (max-width: 850px) { /*Tamaño 150%*/
    .Titulonav {
        width: 25%;
    }

    .navheight {
        width: 75%;
    }

    .container {
        margin-left: -24px;
    }

    .opciones-pags {
        padding: 20px 18px;
        font-size: 14px;
    }
}

@media (min-width: 950px) and (max-width: 1050px) { /*Tamaño 125%*/
    .Titulonav {
        width: 18%;
    }

    .navheight {
        width: 82%;
    }
    .container{
        margin-left: -24px;
    }
    .opciones-pags {
        padding: 18px 18px;
        font-size: 17px;
    }
}



@media (min-width: 1350px) and (max-width: 1450px) { /*Tamaño 90%*/
    .Titulonav {
        width: 22%;
    }

    .navheight {
        width: 88%;
    }
    .container {
        margin-left: -15px;
    }

    .opciones-pags {
        padding: 18px 20px;
        font-size: 20px;
    }

    /*.Aparecer {
        width: 13rem;
        margin-left: 3.5rem;
    }
    .Aparecer ul{
        margin-left: -1rem;
    }

    .Codito-change {
        margin-left: 0%;
    }*/
}

@media (min-width: 1450px) and (max-width: 1550px) { /*Tamaño 80%*/
    .Titulonav {
        width: 11%;
    }

    .navheight {
        width: 89%;
    }
    .container {
        margin-left: -15px;
    }

    .opciones-pags {
        padding: 18px 20px;
        font-size: 25px;
    }

    /*.Aparecer {
        margin-left: 6.2rem;
        width: 12.5rem;
    }

    .Codito-change {
        margin-left: 2.7%;
    }*/
}
@media (min-width: 1550px){ /*Tamaño 75-70%*/
    .Titulonav {
        width: 10%;
    }

    .navheight {
        width: 90%;
    }
    .container {
        margin-left: -25px;
    }

    .opciones-pags {
        padding: 18px 20px;
        font-size: 25px;
    }

   /*
     .Aparecer {
        margin-left: 6.2rem;
        width: 13.5rem;
     }
   */ 
}
