@font-face {
    font-family: perpetua;
    src: url("~/css/Perpetua.ttf");
}

.btn-group-sm > .btn, .btn-sm 
{

    margin-right: 0.5rem;
    font-size: 16px;
    font-family: Roboto;
    font-weight: bold;
    line-height: 1.5;
    border-radius: 1.2rem;
    font-variant:small-caps;
    color: #000;
    width: 95px;

    text-shadow: -2px 3px 3px rgb(150, 1, 43);
}
.btn:hover
{
    background-color: #bb0136b4;
    color: #cca845;    
    text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.651);
}
.rwidth 
{
    width: 120px;
}

@media (max-width: 870px) 
{   
    .botones
    {
        width: 50px;
    }
}