@font-face {
    font-family: perpetua;
    src: url("~/css/Perpetua.ttf");
}

.BotonesCuenta .btn {
    margin-right: 1rem;
    font-size: 16px;
    font-family: Roboto;
    font-weight: bold;
    border-radius: 1.2rem;
    font-variant: small-caps;
    color: #F0EBD2;
    text-shadow: -2px 3px 3px rgb(150, 1, 43);
}

.btn:hover {
    background-color: #DE2121;
    color: #cca845;
    text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.651);
}

.rwidth {
    width: 120px;
}

.cerrar {
    margin-right: 0.5rem;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    border-radius: 0.5rem;
    font-variant: small-caps;
    color: #F0EBD2;
    width: 150px;
    text-shadow: -2px 3px 3px rgb(150, 1, 43);
}
    .cerrar:hover {
        background-color: #DE2121;
        color: #cca845;
        text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.651);
    }

.Opcion6{
    margin-right: 2rem;
}

.perfil-avatar {
    display: flex;
    width: 68px;
    height: 68px;
    margin-bottom: 2.3rem;

    align-items: center;
    border: 4px solid #A39355;
    border-radius: 50%;
    position: absolute;
    bottom: -40px;
}

    .perfil-avatar img {
        width: 60px;
        height: 60px;
        position: relative;
        border-radius: 50%;
        left: calc(50% - 38px);
    }






@media (max-width: 550px) { /*Tamaño 250%*/

      .BotonesCuenta{
          margin-top: -0.7rem;
      }

      .BotonesCuenta .btn {
        width: 4.5rem;
        padding: 2px 2px;
        font-size: 7px;
        background-color: #c1853f;
        text-shadow: -2px 2px 2px #976123;
    }
        .BotonesCuenta .btn:hover {
            background-color: #b67f3e;
        }

    .rwidth {
        width: 4rem;
    }


    .Opcion4{
        float: left;
    }
    .Opcion5{
        float:right;
    }


    .BotonesUsuario {
        margin-top: -0.7rem;
        float: right;
        width: 10rem;
    }


    .cerrar {
        width: 3rem;
        font-size: 14px;
        margin-right: -3rem;
        margin-top: 1rem;
    }

    .Opcion6 {
        float: left;
        width: 4rem;
    }

    .Opcion7 {
        float: right;
        width: 4rem;
    }

    .perfil-avatar {
        display: flex;
        width: 30px;
        height: 30px;
        margin-bottom: 3rem;
        margin-right: -3rem;
        border: 2px solid #A39355;
        border-radius: 50%;
        position: absolute;
        right: 10rem;
    }

        .perfil-avatar img {
            width: 26px;
            height: 26px;
            position: relative;
            border-radius: 50%;
            left: calc(50% - 13px);
        }

}

@media (min-width: 550px) and (max-width: 650px) { /*Tamaño 200%*/

    .BotonesCuenta .btn {
        font-size: 8px;
    }

    .BotonesCuenta {
        margin-right: -2rem;
    }

    .Opcion4 a {
        width: 5rem;
    }

    .Opcion5 a {
        width: 4rem;
    }

    .perfilboton {
        font-size: 8px;
    }

    .cerrar {
        width: 4rem;
        font-size: 10px;
        margin-right: -2rem;
        margin-left: 2rem;
    }

    .perfil-avatar {
        display: flex;
        width: 40px;
        height: 40px;
        margin-bottom: 2.8rem;
        margin-right: -2rem;
        border: 2.5px solid #A39355;
        border-radius: 50%;
        position: absolute;
        right: 10rem;
    }

        .perfil-avatar img {
            width: 36px;
            height: 36px;
            position: relative;
            border-radius: 50%;
            left: calc(50% - 26px);
        }
}
@media (min-width: 650px) and (max-width: 750px) { /*Tamaño 175*/

    .BotonesCuenta .btn {
        font-size: 9px;
    }
    .BotonesCuenta {
        margin-right: -2rem;
    }

    .Opcion4 a{
        width: 5rem;
    }
    .Opcion5 a{
        width: 4rem;
    }

    .perfilboton {
        font-size: 8px;
    }

    .cerrar {
        width: 4rem;
        font-size: 12px;
        margin-right: -2rem;
        margin-left: 2rem;
    }

    .perfil-avatar {
        display: flex;
        width: 40px;
        height: 40px;
        margin-bottom: 2.8rem;
        margin-right: -2rem;
        border: 2.5px solid #A39355;
        border-radius: 50%;
        position: absolute;
        right: 10rem;
    }

        .perfil-avatar img {
            width: 36px;
            height: 36px;
            position: relative;
            border-radius: 50%;
            left: calc(50% - 26px);
        }
}

@media (min-width: 750px) and (max-width: 850px) { /*Tamaño 150%*/

    .BotonesCuenta .btn {
        font-size: 11px;
    }
    .BotonesCuenta{
        margin-right: -1rem;
    }

    .Opcion4 a {
        width: 6rem;
    }

    .Opcion5 a {
        width: 5rem;
    }

    .perfilboton {
        font-size: 10px;
    }

    .cerrar {
        width: 4rem;
        font-size: 14px;
        margin-right: -1rem;
        margin-left: 1.5rem;
    }

    .perfil-avatar {
        display: flex;
        width: 61px;
        height: 61px;
        margin-bottom: 2.5rem;
        border: 4px solid #A39355;
        border-radius: 50%;
        position: absolute;
        right: 10rem;
    }

        .perfil-avatar img {
            width: 55px;
            height: 55px;
            position: relative;
            border-radius: 50%;
            left: calc(50% - 37px);
        }
}

@media (min-width: 950px) and (max-width: 1050px) { /*Tamaño 125%*/

    .BotonesCuenta .btn{
        font-size: 13px;
    }

    .BotonesCuenta {
        margin-right: -2rem;
    }

    .Opcion4 a {
        width: 7rem;
    }

    .Opcion5 a {
        width: 5rem;
    }

    .perfilboton {
      font-size: 14px;
    }

    .cerrar {
        width: 6rem;
        font-size: 16px;
        margin-right: -3rem;
        margin-left: 2rem;
    }

    .perfil-avatar {
        display: flex;
        width: 66px;
        height: 66px;
        margin-bottom: 2.5rem;
        border: 4px solid #A39355;
        border-radius: 50%;
        position: absolute;
        right: 12rem;
    }

        .perfil-avatar img {
            width: 60px;
            height: 60px;
            position: relative;
            border-radius: 50%;
            left: calc(50% - 39px);
        }
}

@media (min-width: 1050px) and (max-width: 1150px) { /*Tamaño 110%*/

    .Opcion5 a {
        width: 6rem;
    }
    .cerrar {
        width: 6rem;
        margin-left: 3rem;
        font-size: 16px;
    }
}

@media (min-width: 1150px) and (max-width: 1250px) { /*Tamaño 100%*/

    .Opcion5 a {
        width: 7rem;
    }
    .cerrar {
        width: 6rem;
        margin-left: 3rem;
        font-size: 18px;
    }
}

@media (min-width: 1350px) and (max-width: 1450px) { /*Tamaño 90%*/

    .Opcion4 a {
        width: 8rem;
    }

    .Opcion5 a {
        width: 6rem;
    }
    .cerrar {
        width: 6rem;
        margin-left: 3rem;
        font-size: 20px;
    }

    .perfil-avatar {
        display: flex;
        width: 70px;
        height: 70px;
        margin-bottom: 2.5rem;
        border: 4px solid #A39355;
        border-radius: 50%;
        position: absolute;
        right: 13rem;
    }

        .perfil-avatar img {
            width: 63px;
            height: 63px;
            position: relative;
            border-radius: 50%;
            left: calc(50% - 40px);
            top: 0.5px;
        }
}

@media (min-width: 1450px) and (max-width: 1550px) { /*Tamaño 80%*/

    .BotonesCuenta{
        margin-right: -4rem;
    }

    .BotonesCuenta .btn {
        font-size: 20px;
        margin-left: 1rem;
    }

    .Opcion4 a{
        width: 9rem;
    }
    .Opcion5 a{
        width: 8rem;
    }


    .cerrar {
        width: 5rem;
        margin-left: 2rem;
        font-size: 23px;
    }

    .perfil-avatar {
        display: flex;
        width: 76px;
        height: 76px;
        margin-bottom: 2.5rem;
        margin-right: 7rem;
        border: 4px solid #A39355;
        border-radius: 50%;
        position: absolute;
        right: 13rem;
    }

        .perfil-avatar img {
            width: 70px;
            height: 70px;
            position: relative;
            border-radius: 50%;
            left: calc(50% - 44px);
        }
}

@media (min-width: 1550px) and (max-width: 1750px) { /*Tamaño 75-70%*/

    .BotonesCuenta {
        margin-right: -12rem;
    }

        .BotonesCuenta .btn {
            font-size: 20px;
            margin-left: 1rem;
        }

    .Opcion4 a {
        width: 10rem;
    }

    .Opcion5 a {
        width: 8rem;
    }

    .perfilboton {
        margin-right: -8rem;
    }

    .Opcion7 {
        width: 2rem;
    }

    .cerrar {
        margin-left: 4rem;
        font-size: 25px
    }

    .perfil-avatar {
        display: flex;
        width: 76px;
        height: 76px;
        margin-bottom: 2.5rem;
        margin-right: 3rem;
        border: 5px solid #A39355;
        border-radius: 50%;
        position: absolute;
        right: 16rem;
    }

        .perfil-avatar img {
            width: 70px;
            height: 70px;
            position: relative;
            border-radius: 50%;
            left: calc(50% - 45.5px);
        }
}
@media (min-width: 1750px) and (max-width: 1950px) { /*Tamaño 60-69%*/

    .BotonesCuenta {
        margin-right: -18rem;
    }

        .BotonesCuenta .btn {
            font-size: 25px;
            margin-left: 2rem;
            border-radius: 3rem;
        }

    .Opcion4 a {
        width: 12rem;
    }

    .Opcion5 a {
        width: 11rem;
        width: 150px;
    }

    .perfilboton {
        margin-right: -8rem;
    }

    .Opcion7 {
        width: 8rem;
        position: absolute;
        top: 1.7rem;
        right: 8rem;
    }

    .cerrar {
        font-size: 30px;
    }

    .perfil-avatar {
        display: flex;
        width: 98px;
        height: 98px;
        margin-bottom: 3rem;
        margin-right: 3rem;
        border: 10px solid #A39355;
        border-radius: 50%;
        position: absolute;
    }

        .perfil-avatar img {
            width: 88px;
            height: 88px;
            position: relative;
            border-radius: 50%;
            left: calc(50% - 57px);
        }
}

@media (min-width: 1950px) and (max-width: 2550px) { /*Tamaño 50-59%*/

    .BotonesCuenta {
        margin-right: -36rem;
    }

        .BotonesCuenta .btn {
            font-size: 34px;
            margin-left: 4rem;
            border-radius: 4rem;
        }

    .Opcion4 a {
        width: 16rem;
    }

    .Opcion5 a {
        width: 13rem;
    }

    .perfilboton {
        margin-right: -8rem;
    }

    .Opcion7 {
        width: 10rem;
        position: absolute;
        top: 2rem;
        right: 8rem;
    }

    .cerrar {
        font-size: 40px;
    }

    .perfil-avatar {
        display: flex;
        width: 125px;
        height: 125px;
        margin-bottom: 3rem;
        margin-right: 3rem;
        border: 10px solid #A39355;
        border-radius: 50%;
        position: absolute;
        right: 20rem;
    }

        .perfil-avatar img {
            width: 113px;
            height: 113px;
            position: relative;
            border-radius: 50%;
            left: calc(50% - 68px);
        }
}

@media (min-width: 2550px) and (max-width: 3750px) { /*Tamaño 30-49%*/

    .BotonesCuenta {
        margin-right: -92rem;
    }

        .BotonesCuenta .btn {
            font-size: 50px;
            margin-left: 4rem;
            border-radius: 5rem;
        }

    .Opcion4 a {
        width: 23rem;
    }

    .Opcion5 a {
        width: 18rem;
    }

    .perfilboton {
        margin-right: -8rem;
    }

    .Opcion7 {
        width: 15rem;
        position: absolute;
        top: 2.5rem;
        right: 10rem;
    }

    .cerrar {
        width: 15rem;
        font-size: 55px;
    }

    .perfil-avatar {
        display: flex;
        width: 165px;
        height: 165px;
        margin-bottom: 3rem;
        margin-right: 3rem;
        border: 15px solid #A39355;
        border-radius: 50%;
        position: absolute;
        right: 28rem;
    }

        .perfil-avatar img {
            width: 145px;
            height: 145px;
            position: relative;
            border-radius: 50%;
            left: calc(50% - 86px);
        }
}

@media (min-width: 3750px) and (max-width: 5050px) { /*Tamaño 25-29%*/

    .BotonesCuenta {
        margin-right: -145rem;
    }

        .BotonesCuenta .btn {
            font-size: 65px;
            margin-left: 6rem;
            border-radius: 6rem;
        }

    .Opcion4 a {
        width: 29rem;
    }

    .Opcion5 a {
        width: 22rem;
    }

    .perfilboton {
        margin-right: -8rem;
    }

    .Opcion7 {
        width: 15rem;
        position: absolute;
        top: 2.5rem;
        right: 16rem;
    }

    .cerrar {
        width: 20rem;
        font-size: 70px;
    }

    .perfil-avatar {
        display: flex;
        width: 220px;
        height: 220px;
        margin-bottom: 3rem;
        margin-right: 3rem;
        border: 20px solid #A39355;
        border-radius: 50%;
        position: absolute;
        right: 36rem;
    }

        .perfil-avatar img {
            width: 190px;
            height: 190px;
            position: relative;
            border-radius: 50%;
            left: calc(50% - 110px);
        }
}
