@font-face {
    font-family: perpetua;
    src: url("~/css/Perpetua.ttf");
}

.Textlogin .btn {
    margin-right: 0.5rem;
    font-size: 16px;
    font-family: Roboto;
    font-weight: bold;
    line-height: 1.5;
    border-radius: 1.2rem;
    font-variant: small-caps;
    color: #F0EBD2;
    width: 95px;
    text-shadow: -2px 3px 3px rgb(150, 1, 43);
}

.btn:hover {
    background-color: #DE2121;
    color: #cca845;
    text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.651);
}

.rwidth {
    width: 120px;
}

.cerrar {
    margin-right: 0.5rem;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    border-radius: 0.5rem;
    font-variant: small-caps;
    color: #F0EBD2;
    width: 150px;
    text-shadow: -2px 3px 3px rgb(150, 1, 43);
}
    .cerrar:hover {
        background-color: #DE2121;
        color: #cca845;
        text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.651);
    }

.Opcion6{
    margin-right: 2rem;
}

.perfil-avatar {
    display: flex;
    width: 68px;
    height: 68px;
    margin-bottom: 2.3rem;

    align-items: center;
    border: 2px solid #A39355;
    border-radius: 50%;
    position: absolute;
    bottom: -40px;
}

    .perfil-avatar img {
        width: 65px;
        height: 65px;
        position: relative;
        border-radius: 50%;
        left: calc(50% - 42px);
    }






@media (max-width: 550px) { /*Tamaño 250%*/

      .BotonesCuenta{
          margin-top: -0.7rem;
      }

      .Textlogin .btn {
        width: 4.5rem;
        padding: 2px 2px;
        font-size: 7px;
        background-color: #c1853f;
        text-shadow: -2px 2px 2px #976123;
    }
        .Textlogin .btn .btn:hover {
            background-color: #b67f3e;
        }

    .rwidth {
        width: 4rem;
    }

    .Textlogin {
        margin-top: 0.6rem;
        margin-left: 1rem;
        width: 4rem;
    }

    .Opcion4{
        float: left;
    }
    .Opcion5{
        float:right;
    }


    .BotonesUsuario {
        margin-top: -0.7rem;
        float: right;
        width: 10rem;
    }

    .perfilboton {
        width: 4rem;
        margin-top: 1.2rem;
        margin-right: 2rem;
        font-size: 6px;
        background-color: #b67f3e;
        text-shadow: -2px 2px 2px #976123;
        border-radius: 5px;
    }
        .perfilboton:hover {
            background-color: #b67f3e;
            text-shadow: -2px 2px 2px #976123;
        }

    .cerrar {
        width: 3rem;
        font-size: 9px;
        margin-right: -3rem;
        margin-top: 1rem;
    }

    .Opcion6 {
        float: left;
        width: 4rem;
    }

    .Opcion7 {
        float: right;
        width: 4rem;
    }
}

@media (min-width: 550px) and (max-width: 650px) { /*Tamaño 200%*/

    .Textlogin .btn {
        font-size: 7px;
        width: 4rem;
    }

    .Textlogin {
        margin-left: 2rem;
        margin-right: 1rem;
        width: 30px;
    }
    .BotonesCuenta {
        margin-right: -2rem;
    }

    .perfilboton {
        font-size: 8px;
    }

    .cerrar {
        width: 4rem;
        font-size: 10px;
        margin-right: -2rem;
        margin-left: 2rem;
    }
}
@media (min-width: 650px) and (max-width: 750px) { /*Tamaño 175*/

    .Textlogin .btn {
        font-size: 9px;
        width: 6rem;
    }

    .Textlogin {
        margin-left: 3rem;
        margin-right: 1rem;
        width: 30px;
    }

    .perfilboton {
        font-size: 8px;
    }

    .cerrar {
        width: 4rem;
        font-size: 12px;
        margin-right: -2rem;
        margin-left: 2rem;
    }
}

@media (min-width: 750px) and (max-width: 850px) { /*Tamaño 150%*/

    .Textlogin .btn {
        font-size: 11px;
    }

    .Textlogin {
        margin-left: 3rem;
        margin-right: 1rem;
        width: 30px;
    }

    .perfilboton {
        font-size: 10px;
    }

    .cerrar {
        width: 4rem;
        font-size: 14px;
        margin-right: -2rem;
        margin-left: 2rem;
    }
}

@media (min-width: 950px) and (max-width: 1050px) { /*Tamaño 125%*/

    .Textlogin .btn{
        font-size: 13px;
    }

    .BotonesCuenta {
        margin-right: -2rem;
    }

    .Textlogin {
        margin-left: 3rem;
        margin-right: 1rem;
        width: 30px;
    }

    .perfilboton {
      font-size: 14px;
    }

    .cerrar {
        width: 6rem;
        font-size: 16px;
        margin-right: -4rem;
        margin-left: 3rem;
    }
}

@media (min-width: 1050px) and (max-width: 1150px) { /*Tamaño 110%*/
    .cerrar {
        width: 6rem;
        margin-left: 3rem;
        font-size: 16px;
    }
}

@media (min-width: 1150px) and (max-width: 1250px) { /*Tamaño 100%*/
    .cerrar {
        width: 6rem;
        margin-left: 3rem;
        font-size: 18px;
    }
}

@media (min-width: 1350px) and (max-width: 1450px) { /*Tamaño 90%*/
    .cerrar {
        width: 6rem;
        margin-left: 3rem;
        font-size: 20px;
    }
}

@media (min-width: 1450px) and (max-width: 1550px) { /*Tamaño 80%*/
    .btn {
        font-size: 18px;
        margin-right: -10rem;
    }

    .BotonesCuenta {
        margin-right: -10rem;
    }

    .Textlogin {
        margin-left: 5rem;
        width: 40px;
    }
    .cerrar {
        width: 6rem;
        margin-left: 3rem;
        font-size: 23px;
    }
}

@media (min-width: 1550px) { /*Tamaño 75-70%*/
    .btn {
        font-size: 18px;
        margin-right: -26rem;
    }
    .BotonesCuenta{
        margin-right: -16rem;
    }
    .Textlogin {
        margin-left: 5rem;
        width: 40px;
    }

    .rwidth {
        width: 150px;
    }

    .perfilboton {
        margin-right: -8rem;
    }
    .cerrar {
        margin-left: 8rem;
        font-size: 25px
    }
}