@page
@model Foromanager.Pages.Publicaciones.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Publicacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Publicacion.ForoId" class="control-label"></label>
                <select asp-for="Publicacion.ForoId" class ="form-control" asp-items="ViewBag.ForoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Publicacion.Usuario" class="control-label"></label>
                <input asp-for="Publicacion.Usuario" class="form-control" />
                <span asp-validation-for="Publicacion.Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publicacion.Titulo" class="control-label"></label>
                <input asp-for="Publicacion.Titulo" class="form-control" />
                <span asp-validation-for="Publicacion.Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publicacion.Descripcion" class="control-label"></label>
                <input asp-for="Publicacion.Descripcion" class="form-control" />
                <span asp-validation-for="Publicacion.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
