@page
@model Foromanager.Pages.Publicaciones.EditModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Publicacion</h4>
<hr style="background-color: white"/>
<div class="row">
    <div class="col-md-4">
        <form  enctype = "multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Publicacion.Titulo" class="control-label"></label>
                <input asp-for="Publicacion.Titulo" class="form-control" />
                <span asp-validation-for="Publicacion.Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publicacion.Descripcion" class="control-label"></label>
                <input asp-for="Publicacion.Descripcion" class="form-control" />
                <span asp-validation-for="Publicacion.Descripcion" class="text-danger"></span>
            </div>
            <div class="EditarImagen">
                 <input asp-for="ImgCarga" type="file" accept=".jpg, .png, .jpeg" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Publicacion.PublicacionId" />
                <input type="hidden" asp-for="Publicacion.ForoId" />
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Foros/Index">Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
