@page
@model Foromanager.Pages.Publicaciones.EditModel

@{
    ViewData["Title"] = "Editar";
}

<head>
    <link rel="stylesheet" href="~/css/Publicaciones/EliminaryEditar.css" />
    <link rel="stylesheet" href="~/css/Foros/BotonesForos.css" />
    <link rel="stylesheet" href="~/css/InputFileStyle.css" />
    <link rel="stylesheet" href="~/css/EditarYEliminarResponsive.css" />
</head>

<h1 class="Espaciado">Editar Publicacion</h1>


<div class="LimHr"><hr color="white" /></div>

<div class="Espaciado">
    <div>
        <form enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br />
            <div class="form-group">
                <label asp-for="Publicacion.Titulo" class="control-label"></label>
                <input asp-for="Publicacion.Titulo" class="form-control InputWidth" />
                <span asp-validation-for="Publicacion.Titulo" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Publicacion.Descripcion" class="control-label"></label>
                <input asp-for="Publicacion.Descripcion" class="form-control InputWidth" />
                <span asp-validation-for="Publicacion.Descripcion" class="text-danger"></span>
            </div>
            <br />
            <div class="EditarImagen">
                <input id="file" class="InputFile" asp-for="ImgCarga" type="file" accept=".jpg, .png, .jpeg" />
                <label class="BotonImagen" for="file"> <i class="fas fa-upload"></i> Subir Imagen</label>
            </div>
            <br />
            <div class="form-group">
                <input type="hidden" asp-for="Publicacion.PublicacionId" />
                <input type="hidden" asp-for="Publicacion.ForoId" />
                <input type="submit" value="Guardar" class="btn BotonForos" /> <a class="BotonRegresar" asp-page="../Foros/Index"> Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
